<html>
	<head>
		<title>My site</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<!--<style>
			h1 {
				color: red;
				font-size: 48px;
			}
			p {
				color: red;
				font-size: 14px;
				font-family: Arial;
			}
			.odd {
				color: blue;
			}
			.even {
				background-color: #f6af2b;
			}
		</style>-->
	</head>
	<body>
		<h1 id="title">Hello World!<h1>
		<img src="static/img/kitten.jpg" />
		<P class="odd">Hello mom!<p/>
		<p class="even">Hello dad!<p/>
		<p class="odd">Hello sister!<p/>
		<p class="even">Hello Diana!<p/>
	</body>
</html>
